/* BODY */
body {
    background-image: url(../assets/imgs/dark-background-image.jpg);
}

/*-----------------------------------------------------------------------------------*/
/* HEADER */
/* NAVBAR DE OPÇÕES DO HEADER */
.dash-header{
    background-color: #2a0042;
}
.navbar-header hr {
    background-color: white;
}
.navbar-header a {
    color: white;
}

.footer {
    background-color: #010101;
}

/*-----------------------------------------------------------------------------------*/
/* HOME */
/* HEADER FIXO - HOME */
.navmask {
    background-color: rgba(42, 0, 66, 0.8);
}
.sec2 {
    background-image: linear-gradient(to bottom, #350053, #2a0042);
}
.sec2 p {
    color: #ecdaff;
}

.sec3 {
    background-image: linear-gradient(to bottom, #2a0042 90%, #010101);

}
.sec3 p {
    color: #ecdaff;
}
.sec3 hr {
    border-color: #8F00FF;
}

.font-stylish {
    color: #ecdaff;
}

/*-----------------------------------------------------------------------------------*/
/* FORMS */
.card-input {
    background-color: rgba(82, 0, 145, 0.6);
}

.form-button {
    background-color: rgba(80, 0, 141, 0.8);
}

/*-----------------------------------------------------------------------------------*/
/* SIMULADOR */
.div-resultado {
    background-color: #5E2D92;
}

/*-----------------------------------------------------------------------------------*/
/* UNIDADES */
.form-select option {
    background-color: #43107a;
}

/*-----------------------------------------------------------------------------------*/
/* DASHBOARD */
.dash-sec1 {
    background-image: linear-gradient(to bottom, #2a0042, #1e0935);
}
.dash-sec2 {
    background-image: linear-gradient(to bottom, #1e0935, #040008);
}